@import "./utils/variables";
@import "./utils/mixins";

*{
    @include font-text(500);
    margin:0;
}


header{
  display: flex;
  justify-content: center;
}
.logo{
  width: 50%;
}

.titre{
  @include font-title;
}

footer{
  
  padding: 5px;
  background-color: black;
  color: white;
}
footer a{
  text-decoration: none;
  color: white;
}