@import "./utils/variables";
@import "./utils/mixins";

*{
    @include font-text(500);
    margin:0;
}


.top{
  display: flex;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 0 10px 0;
}
.logo{
  width: 50%;
}

.location{
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding: 20px;
  i{
    padding-right: 10px
  }
}
.titre{
  @include font-title;
  text-decoration: solid;
  font-size: 1.25em;
  padding-bottom: 5px;
}

.menu-bottom{
  padding: 15px;
  background-color: #353535;
  color: white;
  a{
    text-decoration: none;
  color: white;
  }
  i{
    padding-right: 10px;
  }
  >p {
    padding: 5px;
  }
}
