.button-menu{
    position: relative;
    background: linear-gradient($secondary-color,$primary-color);
    border-radius: 30px;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 15px 25px;
}