.card-new-icon {
  position: absolute;
  background-color: $tertiary-color;
  padding: 5px;
  border-radius: 2px;
  color: darken($color: $tertiary-color, $amount: 40);
  top: 20px;
  right: 20px;
}

.card {
  width: 100%;
  height: 270px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 5px 20px #999;

  a {
    color: #333;
    text-decoration: none;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
}

.card-like {
  .fa-solid {
    position: absolute;

    color: white;
    transition: color 1s;
  }

  .fa-regular {
    z-index: 1;
    position: relative;

  }

  margin: 15px 20px;
  font-size: 25px;

  &:hover {
    .fa-solid {

      color: $primary-color;
    }

    .fa-regular {
      color: transparent;
    }

  }
}

.card-description {
  &__titre {
    margin-top: 6px;
    font-size: 20px;
    @include font-text(700);
  }

  &__lieu {
    margin-top: 6px;
    font-size: 15px;
    @include font-text(300);
  }
}

.card:hover .card-image img {
  transform: scale(1.1);
}

.card-image {
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
  position: relative;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    transform-origin: 50% 50%;
    transition-duration: .3s;
    transition-timing-function: ease;
    object-fit: cover;
  }

}

.card-menu {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 5px 20px #999;
  overflow: hidden;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  &__text {
    padding: 10px;
    h3 {
      margin-top: 6px;
      font-size: 20px;
      @include font-text(700);
    }

    p {
      margin-top: 6px;
      font-size: 15px;
      @include font-text(300);
    }
  }
  .card-cost{
    align-self: flex-end;
    padding: 10px;
    transform: translateX(100%);
    transition: all 0.3s linear 0.1s;
  }
  &:hover{
    
    .card-cost,.checked{
      
      transform: translateX(0);
  
    }
    .checked i{
      transform: rotate(360deg);
    }

  }
  
}
.checked{
  transition: all 0.3s linear 0s;
  position: relative;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width:15%;
  color: white;
  font-size: 22px;
  background-color: $tertiary-color;
  transform: translateX(100%);
  i{
    transition: all 0.3s linear 0s;
    transform: rotate(0deg);
  }
}