.accueil-menu{
    background-color: #f6f6f6;
    text-align: center;
    padding: 45px 25px;
    &__titre{
        @include font-text(700);
        font-size: 25px;
    }
    &__text{
        @include font-text(300);
    }
    > p{
        margin-bottom: 20px;
    }
    .button-menu{
        margin-top: 20px;
    }
}
.fonctionnement-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}    
.fonctionnement-titre{
    width: 70%;
    // margin-left: 15%;
    margin-top: 15px;
    @include font-text(700);
    font-size: 22px;
}
.list-restaurant, .fonctionnement-menu , .location ,.accueil-menu ,.top{
    opacity: 0;
    animation: transit 3s ;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
.list-restaurant{
    // opacity: 0;
    // animation: transit 3s ;
    // animation-delay: 3s;
    // animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
@keyframes transit {
    0% {opacity: 0;}
    100% {opacity: 1;}
    
}
@media screen and ( min-width : $breakpoint1 ) {
    .list-restaurant{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  
  @media screen and ( min-width : $breakpoint2 ) { 
    .fonctionnement-titre{
        width: 600px;
    }
  }
