.titre{
    @include font-title;
    text-decoration: solid;
    font-size: 1.25em;
    padding-bottom: 5px;
  }

.menu-bottom ,.menu-bottom-acceuil{
    padding: 15px;
    background-color: #353535;
    color: white;
    a{
      text-decoration: none;
    color: white;
    }
    i{
      padding-right: 10px;
    }
    >p {
      padding: 5px;
    }
  }
  @media screen and (min-width:$breakpoint1) {
    .menu {
      display: flex;
      justify-content: flex-start;

    }
    .menu-div{
      width: 50%;
    }
    
  }