.top{
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 0 10px 0;
  }
  .logo{
    width: 50%;
  }
  .return{
    position: absolute;
    left:10%;
    i{
      font-size: 29px;
    }
  }